.stripe-li {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: -30px;
  width: 370px;
  border:2px solid rgba(166, 166, 164, 0.769);
  padding:10px 50px 10px 10px;
  font-weight: bold;
  background:rgb(255, 255, 255);
  list-style-type: none;
}

.stripe-li-ad {
  border:3px solid #FFD700 !important;
}

.stripe-list-bar {
  display: flex;
  justify-content: space-between;
}

a, a:visited{
  display: flex;
  color: #0E6CDB;
}

.stripe-contents {
  display: flex;
  align-items: center;
  justify-content:right;
}


.stripe-img {
  height: auto;
  width: 30px;
  margin-right: 5px;
}

.stripe-delete {
  width: 25px !important;
  /* TODO: could change this to -20 or something like that */
  margin-right: 0px !important;
  opacity: 0.2;
}

.stripe-delete:hover {
  filter: invert(15%) sepia(88%) saturate(4329%) hue-rotate(356deg) brightness(113%) contrast(129%);
  opacity: 1;
}



  