li {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 400px;
  border:2px solid rgba(166, 166, 164, 0.769);
  padding:10px 50px 10px 10px;
  font-weight: bold;
  background:rgb(255, 255, 255);
  display: flex;
}

a, a:visited{
  color: #0E6CDB;
}

.stripe-item {
  display: flex;
  justify-items: center;
  align-items: center;
}

.stripe-img {
  height: auto;
  width: 30px;
  margin-right: 5px;
}

.stripe-delete {
  /* TODO - make visible again */
  width: 25px !important;
  visibility: hidden;  
}

.stripe-delete:hover {
  filter: invert(15%) sepia(88%) saturate(4329%) hue-rotate(356deg) brightness(113%) contrast(129%);
}



  