li {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 70vw;
  border:2px solid rgba(166, 166, 164, 0.769);
  padding:10px 50px 10px 10px;
  font-weight: bold;
  background:rgb(255, 255, 255);
  display: flex;
  justify-content:space-between;
}

a, a:visited{
  display: flex;
  color: #0E6CDB;
}

.stripe-item {
  display: flex;
  align-items: center;
  justify-content:right;
}


.stripe-img {
  height: auto;
  width: 30px;
  margin-right: 5px;
}

.stripe-delete {
  width: 25px !important;
  margin-right: 0px !important;
  opacity: 0.2;
}

.stripe-delete:hover {
  filter: invert(15%) sepia(88%) saturate(4329%) hue-rotate(356deg) brightness(113%) contrast(129%);
  opacity: 1;
}



  